:root {
    --red: #FF4C00;
    --lineWidth: 4px;
    --distanceBtwnLineText: 15px;
  }

.text-container {
    display: flex;

    flex-shrink: 0;
  }
  
  .elementWithVerticalLine {
    border-left: var(--lineWidth) solid var(--red); 
    /*margin-left: 8.5px*/;
    padding-left: var(--distanceBtwnLineText); /* Add padding to separate the line from the content */
    
    flex-shrink: 0;
  }
  
  p {
    margin: 0; 
  }
  