
.paragraph {
    margin-top: 15px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    font-weight: bold;
    
}

.layout {
    /*width: 229px;
    height: 109px;*/
    flex-shrink: 0;
}

/*.layout {
    width: 229px;
    height: 109px;
    flex-shrink: 0;

    width: 10%;
    height: 5%;
    flex-shrink: 0;
}*/
