.flex-parent {
    display: flex;
}
  
.flex-child {
    flex: 3;
    margin: 10px;
}

footer {
    background-color: #45433E;
    text-align: center;
}

.footer-title {
    font-weight: bold;
    font-size: 24px;
    font-family: "Space Grotesk";
    color: white;
    margin: 10px;

    text-decoration: underline;
}

.footer-text {
    font-size: 16px;
    font-family: "Space Grotesk";
    color: white;
    margin: 0;
}
